import baseConfig from './jest.config';

export default {
  ...baseConfig,
  roots: ['<rootDir>/projects/<%= dasherize(name) %>-app/src'],
  modulePathIgnorePatterns: ['<rootDir>/projects/<%= dasherize(libraryPackageName) %>'],
};
