import { TestBed } from '@angular/core/testing';

import { AppSampleService } from './sample.service';

function setup(): { service: AppSampleService } {
  TestBed.configureTestingModule({
    providers: [AppSampleService],
  });

  const service = TestBed.inject(AppSampleService);

  return {
    service,
  };
}

describe('AppSampleService', () => {
  it('should be created', () => {
    const { service } = setup();

    expect(service).toBeTruthy();
  });
});
