import { Observable, of } from 'rxjs';
import { Injectable } from '@angular/core';
<% if(libraryName) { %>import { SampleServiceConfig } from '<%= libraryName %>';<% } %>

@Injectable()
export class AppSampleService<% if(libraryName) { %> implements SampleServiceConfig<% } %> {
  sayHello(): Observable<string> {
    return of('Welcome from <%= appName %>!');
  }
}
