import { Injectable } from '@angular/core';
import { Observable, of } from 'rxjs';

@Injectable()
export class <%= classify(appName) %>SampleService {
  sayHello(): Observable<string> {
    return of('Welcome from <%= dasherize(appName) %>!');
  }
}
