<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="An example Angular app" name="description" />
    <title><%= appNameWithoutScope %></title>
    <base href="/" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link type="image/x-icon" href="favicon.ico" rel="icon" />
  </head>
  <body>
    <app-root></app-root>
  </body>
</html>
