import { Component } from '@angular/core';
import { RouterOutlet } from '@angular/router';

@Component({
  selector: '<%= dasherize(appName) %>-root',
  templateUrl: './<%= dasherize(appName) %>.component.html',
  styleUrls: ['./<%= dasherize(appName) %>.component.scss'],
  standalone: true,
  imports: [RouterOutlet],
})
export class <%= classify(appName) %>Component {}
