import baseConfig from './jest.config';

export default {
  ...baseConfig,
  roots: ['<rootDir>/projects/<%= dasherize(appName) %>/src'],
  modulePathIgnorePatterns: ['<rootDir>/projects/<%= dasherize(libraryPackageName) %>'],
};
