// @ts-check

import tseslint from "typescript-eslint";
import { anStandardAngular, anStandardJSON } from "@anedomansky/eslint-config";

export default tseslint.config(
  ...anStandardAngular,
  ...anStandardJSON,
  {
    languageOptions: {
      parserOptions: {
        projectService: true,
        tsconfigRootDir: import.meta.dirname,
      },
    },
  },
);
