{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "outDir": "./out-tsc/spec",
    "types": [
      "jest",
      "@testing-library/jest-dom
    ]
  },
  "include": [
    "setup-jest.ts",
    "projects/**/*.spec.ts",
    "projects/**/*.d.ts"
  ]
}
