import { Config } from 'jest';

import baseConfig from './jest.config';

const config: Config = {
  ...baseConfig,
  roots: ['<rootDir>/projects/<%= appNameWithoutPrefix %>/src'],
  displayName: '<%= dasherize(appName) %>',
};

export default config;
