{
  "extends": "../../<% if(appNameHasScope) { %>../<% } %>tsconfig.json",
  "compilerOptions": {
    "outDir": "../../<% if(appNameHasScope) { %>../<% } %>out-tsc/spec",
    "types": [
      "jest",
      "@testing-library/jest-dom"
    ]
  },
  "include": [
    "src/**/*.ts"
  ]
}
