{
  "extends": "../../<% if(appNameHasScope) { %>../<% } %>tsconfig.json",
  "compilerOptions": {
    "outDir": "../../<% if(appNameHasScope) { %>../<% } %>out-tsc/app",
    "types": []
  },
  "files": [
    "src/main.ts"
  ],
  "include": [
    "src/**/*.d.ts"
  ]
}
