import { Route } from '@angular/router';

export const APP_ROUTES: Route[] = <% if(!libraryName) { %>[];<% } %><% if(libraryName) {%>[
  {
    path: '',
    loadChildren: () => import('<%= libraryName %>').then((m) => m.SAMPLE_ROUTES),
  },
];<% } %>
