import { provideRouter } from '@angular/router';
import { provideZonelessChangeDetection } from '@angular/core';
import { render } from '@testing-library/angular';

import { App } from './app';

describe('App', () => {
  it('should create the app', async () => {
    const { container } = await render(App, {
      imports: [provideRouter([]), provideZonelessChangeDetection()],
    });

    expect(container).toBeTruthy();
  });
});
