import { Injectable } from '@angular/core';
import { SampleServiceConfig } from '@<%= dasherize(libraryPackageName) %>';
import { Observable, of } from 'rxjs';

@Injectable()
export class AppSampleService implements SampleServiceConfig {
  sayHello(): Observable<string> {
    return of('Welcome from <%= capitalize(name) %>!');
  }
}
