import { Route } from '@angular/router';

export const APP_ROUTES: Route[] = [
  {
    path: '',
    loadChildren: () =>
      import('@<%= dasherize(libraryPackageName) %>').then(
        (m) => m.SAMPLE_ROUTES
      ),
  },
];
